.body{
  margin: 0;
  font-family: cursive;
}
.header{
  position: relative;
}
.top{
  position: absolute;
  display: flex;
  justify-content: space-between;
  width:100%;
  font-family: cursive;
}
.top h1{
  color: white;
  margin-top: 50px;
  margin-left: 50px;
  font-size: 60px;
}
.header ul{
  margin-top: 80px;
  margin-right: 50px;
}
.header li{
  list-style-type: none;
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
}
.header a{
  color: white;
  text-decoration: none;
}
.header img{
  width:100%;
  height: 200px;
  object-fit: cover;
  object-position: top;
}
.s3{
  background-color: #F2F2F2;
  text-align: center;
}
.s3 h2{
  padding-top: 50px;
}

.s4{
  display: flex;
  flex-directio: row;
  justify-content: space-between;
  margin-left: 150px;
  margin-right: 150px;
}
.s3>p{
  color: gray;
}
.s1{
  text-align: center;
  border: double 5px #e6e6fa;
  margin: 50px;

}
.s1 h2{
  margin-top: 50px;
}
.s1 img{
  width:300px;
  height: 300px;
  margin-top: 50px;
}
.s1 p{
  font-size: 20px;
  margin-bottom: 50px;
}
